.h2 {
    font-family: 'VT323', monospace;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 12px;         /* smaller padding */
    border: 2px solid #fff;    /* thinner border */
    margin-left: auto;
    margin-right: auto;
    display: block;            /* block for centering */
    max-width: 400px;          /* fixed smaller width */
}

body {
  /* background-image: url('/images/portal.gif'); */
  background-image: url('/images/lab.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.alive { background-color: #55cc44; }
.dead { background-color: #d63d2e; }
.unknown-status { background-color: #9e9e9e; }

.typed-block {
  width: 800px;           /* or your desired width */
  height: 300px;           /* or your desired height */
  margin: 20px auto 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.h2 {
  font-family: 'VT323', monospace;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0;             /* remove padding from h2 */
  border: none;           /* remove border from h2 */
  margin: 0;
  width: 100%;
  background: none;
  max-width: none;
  display: block;
}

.find-characters-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.find-characters-btn {
  border: 2px solid #26abad;
  padding: 8px 20px;
  color: #fff;
  background: rgba(34, 34, 34, 0.8);
  font-family: 'VT323', monospace;
  cursor: pointer;
  box-shadow: 2px 2px 0px #7af458;
  font-size: 1.2rem;
  border-radius: 16px;
  transition: all 0.1s;
  text-transform: uppercase;
  gap: 16px;
}

.find-characters-btn:hover {
  background: rgba(79, 79, 79, 0.8);
  color: #ffffff;
  box-shadow: -2px -2px 0px #fff67e;                                                                                                                                                        
}

