<div class="location-card" (click)="viewLocationDetails()">
  <div class="location-header">
    <h3 class="location-title">{{ location.name }}</h3>
  </div>
  <div class="location-info">
    <p class="location-type">
      <span class="label">Type:</span> {{ location.type }}
    </p>
    <p class="location-dimension">
      <span class="label">Dimension:</span> {{ location.dimension }}
    </p>
    <p class="resident-count">
      <span class="label">Residents:</span> {{ getResidentCount() }}
    </p>
  </div>
</div>
