.locations-header {
  text-align: center;
  margin-bottom: 32px;
}

.page-title {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  color: #7af458;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}

.page-subtitle {
  font-family: 'VT323', monospace;
  font-size: 1.3rem;
  color: #fff;
  margin: 0;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 32px;
}

@media (min-width: 640px) {
  .locations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .locations-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.back-button {
  	border: 2px solid #26abad;
  	padding: 8px 20px;
	color: #fff;
  	background: rgba(34, 34, 34, 0.9);
  	font-family: 'VT323', monospace;
  	cursor: pointer;
  	box-shadow: 2px 2px 0px #7af458;
  	font-size: 1.2rem;
  	border-radius: 16px;
  	transition: all 0.1s;
  	text-transform: uppercase;
  	margin-bottom: 24px;
}

.back-button:hover {
  	background: rgba(79, 79, 79, 0.9);
  	box-shadow: -2px -2px 0px #fff67e;
}