<main class="container mx-auto mt-25 mb-50">
    <div class="typed-block">
      <h2 class="h2" [innerHTML]="typedTextWithBreaks"></h2>
    </div>
    <div class="find-btn-wrapper">
      <button
        class="find-btn"
        (click)="goToCharacters()"
      >
        Find Characters
      </button>
      <button
        class="find-btn"
        (click)="goToEpisodes()"
      >
        Find Episodes
      </button>
      <button
        class="find-btn"
        (click)="goToLocations()"
      >
        Find Locations
      </button>
    </div>
  </main>