<main class="container mx-auto min-h-screen pt-8 px-4">
  <character-filter id="filter-bar" (filterChange)="onFilterChange($event)"></character-filter>

  @if (characters) {
    <div
      id="character-cards"
      class="grid grid-cols-5 gap-6 mt-12 w-full"
    >
    @for (character of characters; track character.id) {
      <character-card [character]="character"></character-card>
    }
    </div>
  }

  <pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (previousPage)="goToPreviousPage()"
    (nextPage)="goToNextPage()"
    class="mt-12"
  ></pagination>
</main>