
#character-cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1.5rem;
}

character-card, .character-card {
	max-width: 100%;
	min-width: 0;
	width: 100%;
	box-sizing: border-box;
}

.back-button {
  	border: 2px solid #26abad;
  	padding: 8px 20px;
	color: #fff;
  	background: rgba(34, 34, 34, 0.9);
  	font-family: 'VT323', monospace;
  	cursor: pointer;
  	box-shadow: 2px 2px 0px #7af458;
  	font-size: 1.2rem;
  	border-radius: 16px;
  	transition: all 0.1s;
  	text-transform: uppercase;
  	margin-bottom: 24px;
}

.back-button:hover {
  	background: rgba(79, 79, 79, 0.9);
  	box-shadow: -2px -2px 0px #fff67e;
}