.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 0;
  font-family: 'VT323', monospace;
}

.filter-input:focus,
.filter-bar select:focus {
  box-shadow: -2px -2px 0px #fff;
}

.filter-btn,
.filter-input,
.filter-bar select,
.clear-btn {
  border: 2px solid #fff;
  padding: 8px 20px;
  color: #fff;
  background: rgba(34, 34, 34, 0.8);
  font-family: 'VT323', monospace;
  cursor: pointer;
  box-shadow: 2px 2px 0px #fff;
  font-size: 1.2rem;
  border-radius: 16px; /* Rounded corners */
  transition: all 0.1s;
  text-transform: uppercase;
  margin-top: 8px;
}

.filter-btn:hover,
.clear-btn:hover {
  background: #fff;
  color: #000;
  box-shadow: -2px -2px 0px #fff;
}
